body{
    font-family: 'Roboto', sans-serif;
}

.payment {
  height: 40px;
  width: 40px;
  border-radius: 50%;

}
.payment i{
  font-size: 12px;
   padding: 10px;
}
.announcement p{
 margin-bottom: 10px;
 font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

}
.announcement  a:hover{
  color: #18AC4F !important;
  cursor: pointer;

}
.btn-see{
  color: #18AC4F !important;
  font-weight: 600;
  text-decoration: none;
}
.btn-see:hover{
  color: #000 !important;
  cursor: pointer;

}
.circle_percent {font-size:100px; width:1em; height:1em; position: relative; background: #f5f5f5; border-radius:50%; overflow:hidden; display:inline-block; margin:2px;}
.circle_inner {position: absolute; left: 0; top: 0; width: 1em; height: 1em; clip:rect(0 1em 1em .5em);}
.round_per {position: absolute; left: 0; top: 0; width: 1em; height: 1em; background: #18AC4F !important; clip:rect(0 1em 1em .5em); transform:rotate(180deg); transition:1.05s;}
.percent_more .circle_inner {clip:rect(0 .5em 1em 0em);}
/* .percent_more:after {position: absolute; left: .5em; top:0em; right: 0; bottom: 0; background: red; content:'';} */
.circle_inbox {position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; background: #fff; z-index:3; border-radius: 50%;}
.percent_text {position: absolute; font-size: 36px; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 3;}

.progress-title{
    font-size: 12px;
    font-weight: 700;
    color: #011627;
    margin: 0;
}
.progress{
    height: 5px;
    background: #cbcbcb;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
    overflow: visible;
}
.progress .progress-bar{
    box-shadow: none;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}
.progress .progress-bar:after{
    content: "";
    display: block;
    border: 15px solid transparent;
    border-bottom: 21px solid transparent;
    position: absolute;
    top: -26px;
    right: -12px;
}
.progress .progress-value{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: -40px;
    right: 0;
}

.progress.pink .progress-bar:after{
    border-bottom-color: #ff4b7d;
}
.progress.green .progress-bar:after{
    border-bottom-color: #5fad56;
}

@-webkit-keyframes animate-positive{
    0% { width: 0; }
}
@keyframes animate-positive{
    0% { width: 0; }
}



















